<!DOCTYPE html>
<html>
    <head>

        <!-- To render these slides you need Slippy https://github.com/Seldaek/slippy -->

        <title>Writing Custom Twig Extensions</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta name="author" content="Tobias Schultze" />
        <meta name="date" content="2013-09-06" />
        <meta name="venue" content="Bol, Croatia" />

        <!-- Slippy core file and dependencies -->
        <script type="text/javascript" src="slippy/src/jquery.min.js"></script>
        <script type="text/javascript" src="slippy/src/jquery.history.js"></script>
        <script type="text/javascript" src="slippy/src/slippy.js"></script>
        <!-- Slippy structural styles -->
        <link type="text/css" rel="stylesheet" href="slippy/src/slippy.css"/>
        <!-- Slippy theme -->
        <link type="text/css" rel="stylesheet" href="slippy/src/slippy-pure.css"/>
        <!-- Syntax highlighting core file  -->
        <script type="text/javascript" src="slippy/src/highlighter/shCore.js"></script>
        <!-- Syntax highlighting brushes, remove those you don't need -->
        <script type="text/javascript" src="slippy/src/highlighter/shBrushPhp.js"></script>
        <script type="text/javascript" src="slippy/src/highlighter/shBrushJScript.js"></script>
        <script type="text/javascript" src="slippy/src/highlighter/shBrushXml.js"></script>
        <!-- Syntax highlighting styles-->
        <link type="text/css" rel="stylesheet" href="slippy/src/highlighter/shCore.css"/>
        <link type="text/css" rel="stylesheet" href="slippy/src/highlighter/shThemeEclipse.css"/>

        <style type="text/css">
            body > * {
                font-size: 1.2em;
            }

            body {
                background: #fff;
            }

            div.syntaxhighlighter {
                background: #aaa !important;
            }

            span.file {
                font-size: 0.8em;
                color: #f00;
                float: right;
                margin: -.2em .5em 0 0;
            }

            .smallcode {
                font-size: 0.8em;
            }

            strong {
                color: #662222;
            }

            li {
                line-height: 1.2em;
            }
            .footer, h1 {
                background: #eeeeee;
                border: solid #cccccc 1px;
                border-radius: 5px;
                padding: 8px;
            }
            .section h1 {
                background: #fff;
                border: none;
                font-size: 2em;
            }
            .footer {
                background: #fff;
                margin: 10px;
                margin-top: 0;
                width: 97%;
            }
        </style>
        <!-- Slippy init code -->
        <script type="text/javascript">
            $(function() {
                $(".slide").slippy({
                });
                SyntaxHighlighter.all();
            });
        </script>
    </head>

    <body>

        <div class="footer">
            <span class="left"><a href="http://ezsummercamp.com/">eZ Publish Summer Camp 2013</a>: <a href="http://ezsummercamp.com/program/writing_custom_twig_extensions">Writing Custom Twig Extensions</a></span>
            <span class="right"><a href="https://github.com/Tobion">Tobias Schultze</a></span>
            <hr class="defloat" />
        </div>

        <div class="slide section">
            <h1>Writing Custom Twig Extensions</h1>
            <h2>Topics</h2>
            <ul>
                <li>Twigs architecture</li>
                <li>From template to PHP code: lexer, parser, compiler</li>
                <li>Twigs magic: Twig_Template::getAttribute()</li>
                <li>Core Extension</li>
                <li>Function vs Filter</li>
                <li>Extension options</li>
                <li>Exercise: Implement custom function</li>
                <li>Exercise: Implement custom test</li>
                <li>Exercise: Implement custom tag</li>
            </ul>
        </div>

        <div class="slide section">
            <h1>Updating the virtual machine</h1>
            <ul>
                <li>ssh ezsc@192.168.56.150</li>
                <li>cd /var/www/advsf2</li>
                <li>git fetch origin</li>
                <li>git checkout workshop-twig-extensions</li>
                <li>If checkout fails with local changes, remove them, e.g. you might need <code>rm composer.lock</code> or <code>git stash save</code> and do the checkout again.</li>
                <li>Slides available at www/advsf2/slides/writing-custom-twig-extensions/slides.html</li>
            </ul>
        </div>

        <div class="slide">
            <h1>Twigs architecture</h1>
            <ul>
                <li>Central object called environment of class Twig_Environment.</li>
                <li>Environments are used to store the configuration and extensions, and are used to load templates from the file system or other locations.</li>
            </ul>

            <pre class="brush: php">
            require_once '/path/to/lib/Twig/Autoloader.php';
            Twig_Autoloader::register();

            $loader = new Twig_Loader_Filesystem(
                '/path/to/templates'
            );
            $twig = new Twig_Environment($loader, array(
                'cache' => '/path/to/compilation_cache',
            ));

            // load and render the template in one step
            echo $twig->render('index.html', array(
                'the' => 'variables',
                'go' => 'here'
            ));
            </pre>

            <!--
            http://twig.sensiolabs.org/doc/api.html
            <ul>
                <li>Let's examine what happens behind the scenes.</li>
            </ul>
            -->
        </div>

        <div class="slide">
            <h1>From template to PHP code: lexer, parser, compiler</h1>
            <ul>
                <li>Load the template: If the template is already compiled, load it and go to the evaluation step, otherwise:
                    <ul>
                        <li>First, the lexer tokenizes the template source code into small pieces for easier processing;</li>
                        <li>Then, the parser converts the token stream into a meaningful tree of nodes (the Abstract Syntax Tree);</li>
                        <li>Eventually, the compiler transforms the AST into PHP code;</li>
                    </ul>
                </li>
                <li>Evaluate the template: It basically means calling the display() method of the compiled template and passing it the context.</li>
            </ul>
            <!-- http://twig.sensiolabs.org/doc/internals.html -->
        </div>

        <div class="slide">
            <h1>Twigs magic: Twig_Template::getAttribute()</h1>
            <ul>
                <li>With <code>foo.bar</code> Twig abstracts the underlying data structure to access an attribute <code>bar</code> on the variable <code>foo</code> for convenience.</li>
                <li>But it has to check many different possibilites to retrieve the value. Which ones and in which order?</li>
                <!-- http://twig.sensiolabs.org/doc/templates.html#variables -->
                <li>Have a look at <a href="https://github.com/fabpot/Twig/blob/master/lib/Twig/Template.php#L339" target="_new">Twig_Template::getAttribute()</a></li>
                <li>It's the bottleneck because every attribute access goes through this method.</li>
                <li>Reason for the C extension which only implements this method in C code.</li>
            </ul>
        </div>

        <div class="slide">
            <h1>Core Extension</h1>
            <ul>
                <li>Everything in twig is loaded by an extension class (even the core functionality)</li>
                <li><strong>filters</strong> for value transformation, e.g. <code>{{ 'HEY'|lower }}</code></li>
                <li><strong>functions</strong> for content generation, e.g. <code>{{ random(5) }}</code></li>
                <li><strong>tests</strong> for boolean decision, e.g. <code>{{ var is even }}</code></li>
                <li><strong>operators</strong> for values transformation, e.g. <code>{{ 1 + 1 }}</code></li>
                <li><strong>tags</strong> for DSL constructs, e.g. <code>{% if var %}{% endif %}</code></li>
                <li>Have a look at <a href="https://github.com/fabpot/Twig/blob/master/lib/Twig/Extension/Core.php" target="_new">Twig_Extension_Core</a></li>
            </ul>
        </div>

        <div class="slide">
            <h1>Function vs Filter</h1>
            <ul>
                <li><code>{{ knp_menu('main') }}</code> vs<br /><code>{{ 'main'|knp_menu }}</code></li>
                <li>Filters transform a already meaningful value to a different representation or adapt it.</li>
                <li>Functions generate content that you probably do not need to chain with other filters, like a full HTML menu or an object.</li>
            </ul>
        </div>

        <div class="slide">
            <h1>Extension options</h1>
            <ul>
                <li><strong>needs_environment</strong>: get access to the environment, e.g. charset and other configs</li>
                <li><strong>needs_context</strong>: get access to <em>all</em> variables defined in the template</li>
                <li><strong>pre_escape</strong>: escape the value before passing it to the function, e.g. nl2br</li>
                <li><strong>is_safe:</strong>: for which format your function is returning safe html intentionally</li>
                <li><strong>is_safe_callback</strong>: same as is_safe but with callback at compilation time</li>
            </ul>
        </div>

        <!-- http://symfony.com/doc/current/cookbook/templating/twig_extension.html -->

        <div class="slide">
            <h1>Exercise: Implement custom function (1)</h1>
            <ul>
                <li><strong>Scenario</strong>: Generating a class-attribute using conditions is quite ugly and problematic (empty class-attribute is invalid html).
                <pre class="brush: js">
                class="{%
                  if team.promoted %}promoted {% endif %}{%
                  if team.relegated %}relegated {% endif %}{%
                  if team.withdrawn %}withdrawn {% endif %}"
                </pre>

                So instead we want to use a custom function like
                <pre class="brush: js">
                {{ class_attribute({
                    'promoted': team.promoted,
                    'relegated': team.relegated,
                    'withdrawn': team.withdrawn
                }) }}
                </pre>
                </li>
            </ul>
        </div>

        <div class="slide">
            <h1>Exercise: Implement custom function (2)</h1>
            <ul>
                <li><strong>Solution</strong>: We add our custom function which receives a hash/array and returns the class attribute <code>class="..."</code> with the array keys as class names if the corresponding value evaluates to true.</li>
                <li><strong>Implementation</strong>: Add class extending <code>\Twig_Extension</code> which provides such function and tell twig about the extension with the symfony DI tag <code>twig.extension</code>.</li>
                <li><strong>Documentation</strong>: <a href="http://symfony.com/doc/current/cookbook/templating/twig_extension.html">How to write a custom Twig Extension</a></li>
                <li><strong>Test</strong>: <a href="http://advsf2.ezsc/app_dev.php/classattribute">http://advsf2.ezsc/app_dev.php/classattribute</a></li>
            </ul>
        </div>

        <div class="slide">
            <h1>Exercise: Implement custom test</h1>

            <ul>
                <li><strong>Scenario</strong>: We want to check whether a string matches a regular expression.</li>
                <li><strong>Solution</strong>:
                <pre class="brush: js">
                {% if 'foobar' is matchingregex('#^fo{2}#')
                %}OK{% endif %}
                </pre>
                </li>
                <li><strong>Implementation</strong>: Register our custom test method by providing a <code>getTests()</code> method in the extension. The test method can use <code>preg_match</code>.</li>
                <li><strong>Test</strong>: <a href="http://advsf2.ezsc/app_dev.php/matchingregex">http://advsf2.ezsc/app_dev.php/matchingregex</a></li>
            </ul>
        </div>

        <div class="slide">
            <h1>Exercise: Implement custom tag</h1>

            <ul>
                <li><strong>Scenario</strong>: We want to stop script execution for a specified time (artificial example).</li>
                <li><strong>Solution</strong>: Add tag <code>sleep</code> that allows one argument for the time.
                <pre class="brush: js">
                {% sleep 1 %}
                {# might also be an expression #}
                {% sleep (1 - 3)|abs %}
                </pre>
                </li>
                <li><strong>Implementation</strong>: Add a <code>\Twig_TokenParser</code> which gets activated for the tag and returns a <code>\Twig_Node</code>. This node is responsible for compiling, i.e. writing the neccessary PHP code. You can simply use the PHP function <code>sleep</code>.</li>
                <li><strong>Documentation</strong>: Follow the <a href="https://github.com/fabpot/Twig-extensions/blob/master/lib/Twig/Extensions/Extension/Debug.php">Debug Extension</a></li>
                <li><strong>Test</strong>: <a href="http://advsf2.ezsc/app_dev.php/sleep">http://advsf2.ezsc/app_dev.php/sleep</a></li>
            </ul>
        </div>

    </body>
</html>
